<!-- Signup Section -->
<section class="masthead applicants-grid-container">
  <div style="text-align: center;">
    <div ui-grid="gridOptions" ui-grid-selection class="applicants-grid">
    </div>
    <br />
    <button class="btn btn-primary mx-auto" style="margin: auto;" ng-click="rejectApplicant()">Reject Applicant</button><br /><br />
    <button class="btn btn-primary mx-auto" style="margin: auto;" ng-click="logout()">Logout</button>
  </div>
</section>