<body ng-controller="BaseCtl" id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/">Resume App</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" ng-href="/upload">Upload</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" ng-click="secureAccess()">Admin Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div ui-view></div>

  <footer class="bg-black small text-center text-white-50">
    <div class="container">
      Copyright &copy; ITSC 2018
    </div>
  </footer>
</body>

</html>