<!-- Signup Section -->
<section class="masthead">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">

      <h1 class="text-white my-0 text-uppercase">Login</h1>

      <div class="form-group">
        <input ng-model="username" type="username" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0"
          placeholder="Enter username" required><br />
        <input ng-model="password" type="password" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0"
          placeholder="Enter password" required><br />
        <button ng-click="login()" class="btn btn-primary mx-auto">
          Login
        </button>
      </div>

    </div>
  </div>
</section>