<!DOCTYPE html>

<!-- Copyright 2019 IT Solutions Center -->

<html ng-app="cert" ng-controller="IndexController">

<head>
  <% include ./head %>
</head>

<body>
  <toaster-container></toaster-container>
  <ui-view />
  <% include ./scripts %>
</body>

</html>