  <!-- Signup Section -->
  <section id="signup" class="signup-section">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto text-center">

          <h2 class="text-white mb-5">Upload your resume here!</h2>

          <form>
            <input type="firstname" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputFName" placeholder="Enter first name" width="20%">
            <input type="lastname" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputLName" placeholder="Enter last name" width="20%">
            <input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" placeholder="Enter email address" width="20%">
            <select name="position">
                <option selected disabled>Choose a Position</option>
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="fiat">Fiat</option>
                <option value="audi">Audi</option>
              </select>
            <button class="btn btn-primary mx-auto">Attach File</button>
            <button type="submit" class="btn btn-primary mx-auto">Submit</button>
          </form>

        </div>
      </div>
    </div>
  </section>